# Xcode
build/
DerivedData/
*.xcworkspace
!default.xcworkspace
*.xcuserdata/
*.xcuserstate

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# macOS
.DS_Store

# Logs
*.log

# Temporary files
*.tmp
*.swp
*.lock

# Archives
*.xcarchive

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# User-specific
*.mode1v3
*.mode2v3
*.perspectivev3

# Certificates / Keys (раптом ти вирішиш випадково злити приватні ключі)
*.p12
*.key
*.mobileprovision
